@page
@model MyApp.Namespace.ExploreMoviesModel
@{
}


<!-- /w3l-medile-movies-grids -->
	<div class="general-agileits-w3l" style="padding-bottom:0px;">
		<div class="w3l-medile-movies-grids">

				<!-- /movie-browse-agile -->
				
				      <div class="movie-browse-agile">

						<div class="browse-agile-w3ls general-w3ls">

						<div class="container">
							<form method="get">
							
							<div class="col-lg-6 in-gp-tl" style="width:100%;">
								<div class="input-group">
									<input asp-for="nazivFilter" type="text" class="form-control" placeholder="Search for...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Go!</button>
									</span>
								</div><!-- /input-group -->
							</div><!-- /.col-lg-6 -->
							
							</form>

							<form style="margin-top:60px; margin-bottom:60px; display:flex; flex-direction:row; justify-content:space-between;" method="get">
								
								<div>
									<label class="label-left">Genre:</label>
									
									<select asp-for="zanrFilter" asp-items="Model.zanrovi" class="input-search"> 
										<option value="">All</option>
									</select> 
								</div>

								<div>
									<label class="label-left">Year:</label>
									<select asp-for="godinaFilter" class="input-search"> 
										<option value="">All</option>
										@for(int i=2021; i>=1986; i--)
										{
											<option>@i</option>
										}
									</select>
								</div>

								<div>
									<label class="label-left">Ratinf: from</label>
									<input type=number min="0" max="10" asp-for="ocenaOdFilter" class="input-search"> 
									<label style="margin-left: 5px; margin-right:5px;">to</label>
									<input type=number min="0" max="10" asp-for="ocenaDoFilter" class="input-search">
								</div>

								<div>
									<label class="label-left">Length: from</label>
									<input type=number min="0" max="400" asp-for="vremeOdFilter" class="input-search"> 
									<label style="margin-left: 5px; margin-right:5px;">to</label>
									<input type=number min="0" max="400" asp-for="vremeDoFilter" class="input-search">
								</div>
							<button style="width:200px;" type="Submit" class="btn btn-default">Search</button>
							</form>

						</div>	

				

							@for(int i=0; i<Model.filmovi.Count; i++) 
							{
								@if(i==0)
								{
									<div class="tittle-head">
										<h4 class="latest-text">@Model.filmovi.ElementAt(i).zanr </h4>
									</div>   
									
									<div class="container">
										<div class="agileits-single-top">
										</div>
									</div>

									@:<div class="container">
									@:<div class="browse-inner"> 
								}
								else
								{
									@if(@Model.filmovi.ElementAt(i).zanr != @Model.filmovi.ElementAt(i-1).zanr)
									{
										<div class="tittle-head">
											<h4 class="latest-text">@Model.filmovi.ElementAt(i).zanr </h4>
										</div>

										<div class="container">
										<div class="agileits-single-top">
										</div>
										</div>

										@:<div class="container">
										@:<div class="browse-inner"> 
									}
								}

								<div class="col-md-2 w3l-movie-gride-agile">
										 <a asp-page="/Movie" asp-route-movie="@Model.filmovi.ElementAt(i).nazivFilma" class="hvr-shutter-out-horizontal"><img src="@Model.filmovi.ElementAt(i).slika" title="album-name" alt=" " />
									     <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									  <div class="mid-1">
										<div class="w3l-movie-text">
											<h6><a asp-page="/Movie" asp-route-movie="@Model.filmovi.ElementAt(i).nazivFilma">@Model.filmovi.ElementAt(i).nazivFilma</a></h6>							
										</div>
										<div class="mid-2">
										
											<p>@Model.filmovi.ElementAt(i).godina</p>
											<div class="block-stars">
												<span>Rating: </span> <label>@Model.filmovi.ElementAt(i).avgOcena.ToString("0.0")</label>
											</div>
											<div class="clearfix"></div>
										</div>
											
									</div>	
								</div>

								@if(i+1 != @Model.filmovi.Count)
								{
									@if(@Model.filmovi.ElementAt(i).zanr != @Model.filmovi.ElementAt(i+1).zanr)
									{
										@:</div>
										@:</div>
									}
								}
								else
								{
									@:</div>
									@:</div>
								}
							}		
							   

								<div class="clearfix"> </div>
								<!--</div>
								</div> -->
						</div>
					</div>
	</div>
	<!-- //comedy-w3l-agileits -->


<script>
	function SearchFilms(){
		let zanr = '';
		let godina = '';
		let ocenaOd = '';
		let ocenaDo = '';
		let vremeOd = '';
		let vremeDo = '';


	}
</script>