@page
@model MyApp.Namespace.MovieModel
@{
}

<head>
	<title>Movie4U | @Model.film.nazivFilma</title>
</head>

<div class="single-page-agile-main" style="padding-top:20px;">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left" style="width:100%;">
					<div class="song">
						<div class="song-info">
							@if(Model.film.brOcena!=0){
								<h3>@Model.film.nazivFilma | @Model.film.avgOcena.ToString("0.0")</h3>}
							else{
								<h3>@Model.film.nazivFilma</h3>}	
					</div>
						<div class="video-grid-single-page-agileits">
							<div style="width:100%;" id="video"> <img src="@Model.film.slikaP" alt="" style="height:400px;" class="img-responsive" /> </div>
						</div>
					</div>
					<div class="song-grid-right">
						<div class="share">
							<h5 style="margin-bottom:5px;">Actors:</h5>
							<p>
							@for(int i = 0; i<Model.glumci.Count; i++)
							{
								@if(i==Model.glumci.Count-1){
									<label>@Model.glumci.ElementAt(i).ime @Model.glumci.ElementAt(i).prezime</label>}
								else{
									<label>@Model.glumci.ElementAt(i).ime @Model.glumci.ElementAt(i).prezime ,</label>}
							}
							</p>
							<h5 style="margin-bottom:5px; margin-top:10px;">Directed By:</h5>
							<span>@Model.reziser.ime @Model.reziser.prezime</span>
							<h5 style="margin-bottom:5px; margin-top:10px;">Genre:</h5>
							<span>@Model.film.zanr</span>
							<h5 style="margin-bottom:5px; margin-top:10px;">Year of release:</h5>
							<span>@Model.film.godina</span>
							<h5 style="margin-bottom:5px; margin-top:10px;">Length(minutes):</h5>
							<span>@Model.film.vremeTrajanja</span>
							<h5 style="margin-bottom:5px; margin-top:10px;">Language:</h5>
							<span>@Model.film.jezik</span>
							<h5 style="margin-bottom:5px; margin-top:10px;">Description:</h5>
							<span>@Model.film.opis</span>
						</div>
						</div>
					</div>
					<div class="clearfix"> </div>

					<div class="all-comments">
						<div class="all-comments-info">
							<h3>Reviews</h3>
							<div class="agile-info-wthree-box">
								<form asp-page-handler="Rec" method="post" onsubmit="return ValidacijaRec()">
									<select class="selRating" id="selRating" asp-for="@Model.ocena" style="width:100%; height:50px;">
										<option value="0">Rating</option>
										@for(int i =1;i<11;i++)
										{
											<option value="@i">@i</option>
										}
									</select>			           					   
									<textarea placeholder="Comment" asp-for="@Model.komentar" style="width:100%;" required=""></textarea>
									<input type="submit" value="SEND">
									<div class="clearfix"> </div>
									<input type=hidden asp-for="film.id">
									<input type=hidden asp-for="film.nazivFilma">
									<input type=hidden asp-for="film.zbirOcena">
									<input type=hidden asp-for="film.brOcena">
								</form>
							</div>
						</div>
						@if(Model.recenzije.Count==0)
						{
							<h3>There are no reviews!</h3>
						}
						else
						{
							<div style="height:600px; overflow-y:scroll;">
							@for(int i =0;i<Model.recenzije.Count;i++)
							{
								<div class="media-grids" style="border: 1px solid #d3d3d3; border-radius:20px; padding:15px; margin-right:10px;">
									<div class="media" >
										<h5>@Model.recenzije.ElementAt(i).korisnik.ime @Model.recenzije.ElementAt(i).korisnik.prezime</h5>
										<div class="media-left">
											<a>
												<img src="images/user.jpg" title="One movies" alt=" " />
											</a>
										</div>
										<div class="media-body">
											<p>@Model.recenzije.ElementAt(i).komentar</p>
											<span>Rating:<a> @Model.recenzije.ElementAt(i).ocena </a></span>
										</div>
									</div>
								</div>
							}
							</div>
						}
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					@if(Model.slicniFilmovi.Count==0)
					{
						<h3>There are no similar movies!</h3>
					}
					else
					{
						@for(int i=0; i<Model.slicniFilmovi.Count; i++)
						{
							<div class="item">
								<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
									<a asp-page="/Movie" asp-route-movie="@Model.slicniFilmovi.ElementAt(i).nazivFilma" class="hvr-shutter-out-horizontal"><img src="@Model.slicniFilmovi.ElementAt(i).slika" title="album-name" class="img-responsive" alt=" " />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a asp-page="/Movie" asp-route-movie="@Model.slicniFilmovi.ElementAt(i).nazivFilma">@Model.slicniFilmovi.ElementAt(i).nazivFilma</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>@Model.slicniFilmovi.ElementAt(i).godina</p>
											<div class="block-stars">
												<span>Rating: </span> <label>@Model.slicniFilmovi.ElementAt(i).avgOcena</label>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		<!--body wrapper end-->
						
							 
				</div>
				<!-- //w3l-latest-movies-grids -->
			</div>	
		</div>
	<!-- //w3l-medile-movies-grids -->