@page
@model MyApp.Namespace.NewsModel
@{
}

<head>
<title>Movie4U | News</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<!-- news-css -->
<link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
<!-- //news-css -->
<!-- list-css -->
<link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>


<!-- faq-banner -->
	<div class="faq">
			<div class="container">
				<div class="agileinfo-news-top-grids">
					<div class="col-md-8 wthree-top-news-left">


<h4>Latest news</h4><br><br>
						
							<div class="bs-example bs-example-tabs"  role="tabpanel" data-example-id="togglable-tabs">
								
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
									<div class="wthree-news-top-left" id="insert-here">
											
									@for (int i = 0; i < @Model.vestiByDate.Count; i++)
									{
										
										
											<div class="col-md-6 w3-agileits-news-left" style="padding:7px;margin-bottom: 15px; height:fit-content; border-bottom: 2px dotted rgb(255,152,0);border-right: 2px dotted rgb(255,152,0);">
												<div class="col-sm-5 wthree-news-img">
													<a href="News-single?id=@Model.vestiByDate[i].id"><img style="width:150px; height: 100px;"src=@Model.vestiByDate[i].slika /></a>
												</div>
												<div class="col-sm-7 wthree-news-info">
													<h5><a href="News-single?id=@Model.vestiByDate[i].id">@Model.vestiByDate[i].naslov</a></h5>
													<p style="word-wrap: break-word;font-size:12px;height:100px">@Model.vestiByDate[i].opis</p>
													<ul>
														<li><i class="fa fa-clock-o" aria-hidden="true"></i> @Model.vestiByDate[i].datumPostavljanja.ToShortDateString()</li>
														<li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @Model.vestiByDate[i].brojLajkova</li>
													</ul>
												</div>
												<div class="clearfix"> </div>
											</div>
											
									}  </div>
								
							</div>
						</div>
					</div>

					<div class="clearfix"> </div>
				</div><div class="col-md-4 wthree-news-right">
						
						<!-- news-right-bottom -->
						<div class="news-right-bottom">
							<div class="wthree-news-right-heading">
								<h3>Top News</h3>
							</div>
							<div class="news-right-bottom-bg">
								<div class="news-grids-bottom" >

									@foreach (var vest in Model.vestiMostLiked)
									{
										
										<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="News-single?id=@vest.id">@vest.naslov</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i> @vest.datumPostavljanja.ToShortDateString()</a></li>
												
												<li><a href="#"><i class="fa fa-thumbs-o-up"></i>@vest.brojLajkova</a></li>
											</ul>
										</div>
									</div>
									}
									
									
									
									
								</div>
							</div>
						</div>
						<!-- //news-right-bottom -->
					</div>
			</div>
	</div>
<!-- //faq-banner -->
<button style="margin-left:45%"id="load_more">Load more</button> <br> <br><br> <br>
<script>
										
	document.querySelector("#load_more").onclick=()=>
				{
								

							$.ajax({
      						 method: "GET",
							    url: '?handler=LoadMore', 
							   beforeSend: function (xhr) {
           						 xhr.setRequestHeader("XSRF-TOKEN",
              					  $('input:hidden[name="__RequestVerificationToken"]').val());},
      						 contentType: "application/json; charset=utf-8",
     				 		 dataType: "json"
  							 }).done(function (data) {
      								if(data=="")
									 document.querySelector("#load_more").style.display="none";
									  else
									  {		
										  	data.forEach((vest)=>
											  {
												  console.log(vest);
												  document.querySelector("#insert-here").innerHTML+=
												  `<div class=\"col-md-6 w3-agileits-news-left" style=\"padding:7px;margin-bottom: 15px; height:fit-content; border-bottom: 2px dotted rgb(255,152,0);border-right: 2px dotted rgb(255,152,0);\">
												<div class=\"col-sm-5 wthree-news-img\">
													<a href=\"News-single?id=${vest["id"]}\"><img style=\"width:150px; height: 100px;\" src=\"${vest["slika"]}\"/></a>
												</div>
												<div class="col-sm-7 wthree-news-info">
													<h5><a href="News-single?id=${vest["id"]}">${vest["naslov"]}</a></h5>
													<p style=\"word-wrap: break-word; font-size:12px; height:100px;\">${vest["opis"]}</p>
													<ul>
														<li><i class="fa fa-clock-o" aria-hidden="true"></i> ${getFormattedDate(new Date(vest["datumPostavljanja"]))}</li>
														<li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> ${vest["brojLajkova"]}</li>
													</ul>
												</div>
												<div class="clearfix"> </div>
												</div>`;	

								
												


											  });
									  }
										
							   });

				}

				function getFormattedDate(date) {
												let year = date.getFullYear();
												let month = (1 + date.getMonth()).toString().padStart(2, '0');
												let day = date.getDate().toString().padStart(2, '0');
											console.log(date);
												return month + '/' + day + '/' + year;
														}

</script>