@page
@model MyApp.Namespace.News_singleModel
@{
}

<head>
<title>Movie4U | News</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<link href="css/medile.css" rel='stylesheet' type='text/css' />
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<!-- news-css -->
<link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
<!-- //news-css -->
<!-- list-css -->
<link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
<!-- //list-css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

</head>


<!-- faq-banner -->
	<div class="faq">
			<div class="container">
				<div class="agileinfo-news-top-grids">
					<div class="col-md-8 wthree-top-news-left">
						<div class="wthree-news-left">
							<div class="wthree-news-left-img">
								<img src=@Model.trazenaVest.slika alt="" />
								<h4>@Model.trazenaVest.naslov</h4>
								<div class="s-author">
									<p>Posted By <i class="fa fa-user" aria-hidden="true"></i> @Model.trazenaVest.objavio &nbsp;&nbsp; <i class="fa fa-calendar" aria-hidden="true"></i>@Model.trazenaVest.datumPostavljanja.ToShortDateString() &nbsp;&nbsp;</p>
								</div>
								<div id="fb-root"></div>
								<div class="news-shar-buttons">
									<ul>
										<li><form method="POST" >
												<input type=hidden asp-for="trazenaVest.brojLajkova"> 
												<button asp-route-id="@Model.trazenaVest.id" asp-page-handler="Like" type="submit">I like this  <i class="fa fa-thumbs-up" aria-hidden="true"></i></button><h4 style="display: inline; color:orange;">   @Model.trazenaVest.brojLajkova</h4>
											</form>
											
										</li>
										
										<li>
											<!-- Place this tag where you want the +1 button to render. -->
											<div class="g-plusone" data-size="medium"></div>

											<!-- Place this tag after the last +1 button tag. -->
											<script type="text/javascript">
											  (function() {
												var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
												po.src = 'https://apis.google.com/js/platform.js';
												var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
											  })();
											</script>
										</li>
									</ul>
								</div>
								<div class="w3-agile-news-text">
									<p>@Model.trazenaVest.opis</p>
								</div>
							</div>
						</div>
					
						
						<div class="news-related">
							
						</div>
					</div>
				
						<!-- //news-right-top -->
						<!-- news-right-bottom -->
						<div class="news-right-bottom">
							<div class="wthree-news-right-heading">
								<h3>Recent news</h3>
							</div>
							<div class="news-right-bottom-bg">
								<div class="news-grids-bottom">

									@foreach (Model.Vest v in Model.najnovijeVesti)
									{
									
									<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="news-single?id=@v.id">@v.naslov</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i> @v.datumPostavljanja.ToShortDateString()</a></li>
												<li><a href="#"><i class="fa fa-user"></i> @v.objavio</a></li>
											</ul>
										</div>
									</div>
									}
									
									<h3 style="color:#ff9800; ">Related news</h3>
									<hr>
									
									@foreach (Model.Vest v in Model.slicneVesti)
									{
									
									<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="news-single?id=@v.id">@v.naslov</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i> @v.datumPostavljanja.ToShortDateString()</a></li>
												<li><a href="#"><i class="fa fa-user"></i> @v.objavio</a></li>
											</ul>
										</div>
									</div>
									}
								</div>
							</div>
						</div>
						<!-- //news-right-bottom -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
				
	</div>
<!-- //faq-banner -->

