@page
@model MyApp.Namespace.ProfileModel
@{
}

<head>
<title>Movie4U | Profile</title>
</head>

<div class="innerf-pages section">
	<div class="container">
        <div style="margin-top:50px;"class="tabelaRez-info">
            <form method="post" class="rez-tabela">
                    <h4 class="predstojece-rez">Watchlist</h4>
                    @if(Model.watchlist.Count==0)
                    {
                        <label class="nema-rez">There are no films in your Watchlist!</label>
                    }
                    else
                    {
                        <div style="overflow-y:scroll; height:500px;">
                        <table id="tabelaRez" class="table" style="width:95%;">
                            <thead>
                                <tr>
                                    <th>Film</th>
                                    <th>Genre</th>
                                    <th>Length(minutes)</th>
                                    <th>Ratings</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var f in @Model.watchlist)
                                {
                                    <tr>
                                        <td>@f.nazivFilma</td>
                                        <td>@f.zanr</td>
                                        <td>@f.vremeTrajanja</td>
                                        <td>@f.avgOcena.ToString("0.0")</td>
                                        <td><button class="label label-danger" asp-route-movie="@f.nazivFilma"  asp-page-handler="Remove" onclick="return confirm('Are you sure you want to remove movie from watchlist?');">Remove</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    }
            </form>
        <div>
        <div>
            <button id="rez" class="label label-default" style="font-size:16px">Change profile informations</button>
        </div>
        <div class="reg" style="display:none; margin-top:30px; margin-bottom:30px;">
	  	<form id="signupForm1" method="post" asp-page-handler="Change" style="display:flex; flex-direction:row;  justify-content: space-between;"> 
			<div class="register-top-grid">
				<h3 style="margin-bottom:20px;">PERSONAL INFORMATION</h3>
				<div class="tekst">
					<span>First Name</span>
					<input type="text" id="firstname" asp-for="korisnik.ime">
				</div>
				<div class="tekst">
					<span>Last Name</span>
					<input type="text"  id="lastname" asp-for="korisnik.prezime">
				</div>
				<div class="tekst" id="register-form-email-c">
					<span>Email Address</span>
					<input style="width:300px;"id="email" type="text" asp-for="korisnik.email"> 
					<label class="error error-hidden" style="visibility: hidden;">This field is required.</label>
				</div>
                <label class="checkbox1"><input type="checkbox" id="dugmePromeniSifru" onclick="changePassButtonText()"><i> </i><label for="dugmePromeniSifru" class="register-cb-label">Change password</label></label>
            </div>
			
            <div class="register-bottom-grid">
	            <h3 style="margin-bottom:20px;">LOGIN INFORMATION</h3>
	            <div class="tekst">
		            <span>Old Password<label>*</label></span>
		            <input type="password" asp-for="password" id="password" name="password" disabled="true">
		            <label class="error" style="visibility: hidden;">This field is required.</label>
                    
	            </div>
	            <div class="tekst">
		            <span>New Password<label>*</label></span>
		            <input type="password" asp-for="newPassword" id="newPassword" name="newPassword" disabled="true">
		            <label class="error" style="visibility: hidden;">This field is required.</label> 
	            </div>
                <div class="clearfix"> </div>
                <div style="display:flex; flex-direction:row;">
                    
			        <button type="submit" class="label label-default" style="font-size:18px" asp-page-handler="Sacuvaj">SAVE</button>
                    <a id="rez1" style="display:block;">Cancel changing</a>
                </div>
			    <div class="clearfix"> </div>
            </div>
            <input type=hidden asp-for="korisnik.sifra" id="sifraSakrivena">
        </form>
    </div>
    
    </div>
</div>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/validateEmail.js"></script>
<script>
    $(document).ready(function(){
        $("#rez").click(function(){
            $(".reg").css("display","block");
            $("#rez").css("display","none");
            $("#rez1").css("display","block");
        });
        $("#rez1").click(function(){
            $(".reg").css("display","none");
            $("#rez").css("display","block");
            $("#rez1").css("display","none");
        });
    });
    function changePassButtonText()
	{
		let pass = document.querySelector("#password");
		let npass = document.querySelector("#newPassword");
		let dugme = document.querySelector("#dugmePromeniSifru");
		if(dugme.checked)
		{
			pass.disabled=false;
			npass.disabled=false;
		}
		else
		{
			pass.disabled=true;
			npass.disabled=true;
			pass.value="";
			npass.value="";
			pass.parentElement.querySelector(".error").innerHTML="";
			npass.parentElement.querySelector(".error").innerHTML="";
		}
	}

	function isNullOrWhitespace( input ) {
		if (typeof input === 'undefined' || input == null) 
			return true;
		let p=input.replace(/\s/g, '').length < 1;
		return p;
	}
	function emailError() {
		let email=document.querySelector("#email");
		if(validateEmail(email.value))
		{
			email.parentElement.querySelector(".error").style.visibility="hidden";
			return false;
		}
		else
		{
			email.parentElement.querySelector(".error").style.visibility="visible";
			return true;
		}
	}
	function passwordError(passID) {
		let pass=document.querySelector("#password");
		let cpass=document.querySelector("#newPassword");
		if(document.querySelector("#"+passID).value==""||document.querySelector("#"+passID).value.length<5)
		{	
			document.querySelector("#"+passID).parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
			document.querySelector("#"+passID).parentElement.querySelector(".error").style.visibility="visible";
			return true;
		}
		else
		{
			pass.parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
			pass.parentElement.querySelector(".error").style.visibility="hidden";
			cpass.parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
			cpass.parentElement.querySelector(".error").style.visibility="hidden";
			return false;
		}
	}
	function passwordError2(passID)
	{
		let pass=document.querySelector("#password");
		let sifra = document.querySelector("#sifraSakrivena");
		if(document.querySelector("#"+passID).value!=sifra.value)
		{
			document.querySelector("#"+passID).parentElement.querySelector(".error").innerHTML="The old password is incorrect!";	
			document.querySelector("#"+passID).parentElement.querySelector(".error").style.visibility="visible";
			return true;
		}
		else
		{
			pass.parentElement.querySelector(".error").style.visibility="hidden";
			return false;
		}
	}
	document.addEventListener("DOMContentLoaded", function validateRegisterForm(event){			
		element=document.querySelector("#email");
		element.onfocus=function()
		{	
			this.onblur=()=>{ emailError();}
		}
		element.oninput=function(e)
		{
			emailError();
			element.parentElement.querySelectorAll("label")[1].style.display="none";
		}
		element=document.querySelector("#password");
		element.onfocus=function()
		{	
			this.onblur=()=>{ passwordError2("password");}
		}
		element.oninput=function(e)
		{
			passwordError2("password");
		}  
		element=document.querySelector("#newPassword");
		element.onfocus=function()
		{	
			this.onblur=()=>{ passwordError("newPassword");}
		}
		element.oninput=function(e)
		{
			passwordError("newPassword");
		}  
		document.querySelector("#signupForm1").onsubmit=()=>
		{
			let error=false;
						
			if(emailError())
				error=true;
			if(document.querySelector("#dugmePromeniSifru").checked)
			{			
				if(passwordError2("password"))
					error=true;
					
				if(passwordError("newPassword"))
					error=true;
			}
			if(error)
			{
				return false;
			}
			return true;
		}
	});
</script>